@model  IoC.Presentation.ViewModel.AmigoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{


    <div>
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome)
    </div>

    <div>
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)
    </div>


    <div>
        <input type="submit" id="salvar" name="Salvar" value="Salvar"/>
    </div>
}